body {
  font-family: "Roboto Mono", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #121923;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #fff;
}

nav {
  margin-left: 25px;
}

li {
  display: inline-block;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
}
img {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
.active {
  font-weight: bold;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
}

header,
footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

header {
  justify-content: space-between;
}

.browse {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.browsestyle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
footer {
  flex-direction: column;
  text-align: center;
}

footer nav ul {
  list-style: none;
  margin: 10px;
  justify-content: center;
}

footer nav ul li {
  margin: 0 70px;
}

.logo {
  margin-left: 50px;
  width: 200px;
  height: auto;
  box-shadow: none;
}
.search,
.cart {
  margin-left: 10px;
}

/*CTA sizes*/
.cta {
  background-color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
  padding: 10px;
  letter-spacing: 2px;
}
.cta-img {
  background-color: rgba(255, 255, 255, 0.3);
}
.cta-best-seller {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.cta-xs {
  font-size: 0.8em;
  padding-left: 20px;
  padding-right: 20px;
}
.cta-s {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.cta-l {
  padding-left: 150px;
  padding-right: 150px;
}
.cta-center {
  text-align: center;
}
/* Banners and bars */
.banners {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}
.genrebar {
  margin: 0 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  flex-wrap: wrap;
  padding-left: 0;
}
.genrestyle {
  margin: 0 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.genrebar li {
  margin: 0 50px;
}

/* Homepage */

.best-seller-cover {
  background-image: url("../images/sweetheart.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.best-seller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.discover {
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 50px;
}
.discover img {
  height: 100%;
  width: 100%;
}

/* Film list banner with 6 films, to be made carousel with Java*/
.film-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(20px, 1fr));
  justify-items: center;
  gap: 20px;
  row-gap: 50px;
  margin: 50px;
  margin-bottom: 70px;
}
.film-list img {
  height: 100%;
  width: 100%;
}
.film {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat (6, 20px);
  grid-template-rows: repeat (1, auto);
}

.film .cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Film recommandation banner with 3 films*/

.recommandation-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  justify-items: center;
  gap: 20px;
  row-gap: 50px;
  margin: 50px;
  margin-bottom: 70px;
}
.recommandation-list img {
  height: 100%;
  width: 100%;
}
.film-recommandation {
  display: grid;
  grid-template-columns: repeat (3, 20px);
}

/* Film Details page*/
.film-details {
  display: flex;
  flex-direction: row;
  margin: 10%;
}
.film-details img {
  height: 80%;
  width: auto;
  float: left;
  margin-right: 50px;
}

.button-style1 {
  background-color: #d17314;
  color: #fff;

  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
.price {
  float: right;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 50px;
}
.info-xs {
  float: left;
  display: inline-block;
}

/*CONTACT*/
.form {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  padding: 50px;
  max-width: 500px;
  margin: auto;
  display: flex;
}

.form h3 {
  color: #d17314;
}

/*about and checkout*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  text-align: center;
  padding: 10px;
}
.info-content {
  display: flex;
  text-align: left;
  margin: auto;
  align-items: center;
}
.info-content div {
  margin: 40px;
}
.info-content img {
  height: 100vh;
  float: left;
  box-shadow: none;
}

.info-content div {
  margin: 20px;
}
.info-content img {
  height: 100px;
  padding: 80px;
  float: left;
  box-shadow: none;
}

.button-style {
  background-color: #d17314;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 420px) {
  header,
  footer {
    flex-direction: column;
  }
  footer nav {
    margin: 0;
  }
  footer nav ul {
    padding: 0;
  }
  header .cart {
    display: none;
  }
  header .browse {
    justify-content: center;
  }
  .logo {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .banners {
    text-align: center;
  }

  .best-seller-cover {
    height: 30vh;
  }
  .best-seller {
    height: 30vh;
  }

  .film-list {
    grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
  .recommandation-list {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
  .discover {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
  .film-details {
    display: flex;
    font-size: 0.7em;
    margin: 10vh;

    align-items: center;
  }
  .film-details p {
    align-items: center;
    margin: 0;
    margin-top: 10px;
  }
  .film-details a {
    align-items: center;
    margin: 0;
    margin-top: 10px;
  }

  .price {
    font-size: 0.8;
    align-items: center;
  }
  .film-details img {
    height: 30vh;
  }

  .form {
    padding: 2%;
    padding-bottom: 5%;
    max-width: 90%;
  }

  .info-content {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .info-content img {
    align-items: center;
    margin-top: 20px;
    width: 33.33%;
    height: auto;
  }
  .cta {
    padding: 15px;
    font-size: 0.8em;
  }
}
